<div class="container"*ngIf="pessoa">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm"> 
                <div class="form-group mb-3">
                    <label class= "form-label" for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="pessoa.nome" required>
                </div>
                <div class="form-group mb-3">
                    <label class= "form-label" for="sobrenome">Sobrenome</label>
                    <input type="text" class="form-control" id="sobrenome" name="sobrenome" [(ngModel)]="pessoa.sobrenome" required>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-success" [disabled]="!f.valid">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
